* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* <!-- Header section Start --> */

nav {
    background-color: #fcf5eb;
    opacity: 99.8%;
}
i.fa-solid.fa-chevron-down.change.mx-2 {
    margin: 5px 0 0 0;
}
a.nav-link.text-dark :hover {
    text-decoration: underline 3px solid #25d366;
}

li.nav-item :hover {
    text-decoration: underline 3px solid #25d366;
}

p.mx-5.mt-3.whatsapp-web {
    cursor: pointer;
}

p.mx-5.mt-3.whatsapp-web:hover {
    text-decoration: underline 3px solid #25d366;
}

hr {
    display: none;
}



/* .fa-regular.fa-plus-large{
display: none;
} */
@media screen and (min-width: 360px) and (max-width: 1200px) {
    hr {
        display: block;
    }

    .fa-regular.fa-plus-large {
        display: block;
    }
}

a.navbar-brand.text-center {
    margin: 0px 40px;
}

li.nav-item.home {
    display: none;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {

    a.navbar-brand.text-center {
        margin: 0 0 0 0px;
    }

    a.navbar-brand.text-center img {
        left: 108px;
        position: fixed;
        /* margin: 0 35px 0 0; */
        width: 138px;
        height: 30px;
        top: 10px;
    }

    /* button.navbar-toggler {
        margin: -44px 0px 0 0;
    } */
    li.nav-item.home {
        display: block;
    }

    ul.navbar-nav.fixed{
        margin: 15px 0 0 0;
    }

    ul li.fixed {
        width: 100%;
        padding: 0px 0 0 0;
        font-size: 32px;
        background-color: white;
    }

    p.mx-5.mt-3.whatsapp-web {
        display: none;
    }


    button.btn.btn-success.rounded-pill.px-5.fs-5.down.text-dark {
        display: none;
    }

}

div#navbarCollapse {
    justify-content: space-evenly;
}

ul.navbar-nav.fixed {
    margin: 0 105px;
}

i.fa-solid.fa-chevron-down {
    display: block;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    i.fa-solid.fa-chevron-down.mt-1.mx-2 {
        display: none;
    }
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    ul.navbar-nav.fixed {
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        margin: 0px 0px;
        height: 360px;
    }

}

button.btn.btn-success.rounded-pill.px-5.down.download {
    background-color: #25d366;
    color: black;
}

button.btn.btn-success.rounded-pill.px-5.down.download:hover {
    background-color: black;
    color: white;
}

/* <!-- Header section End--> */

/* <!-- Banner section Start --> */
.banner {

    background-image: url("Assets/bigImage.png");
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
    background-position: top;
    border-radius: 20px;
    width: 95%;
    margin: 100px auto 20px auto;
    /* margin: 0 23px; */
    border-radius: 23px;
    /* padding: 50px; */
}



.col-md-12.mt-5.pt-5.cup-messages {
    text-align: end;
}

.col-md-6.privately.text-white {
    margin: 130px 0 0 0;
    padding: 0px 132px;
}

.col-md-6.images {
    display: block;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    .banner {

        background-image: url("Assets/bigImage2.png");
        background-repeat: no-repeat;
        height: 700px;
        background-size: cover;
        background-position: top;
        border-radius: 20px;
        width: 95%;
        margin: 60px auto 4px auto;
        /* margin: 0 23px; */
        border-radius: 23px;
        /* padding: 50px; */
    }

    img {
        width: 100%;
    }

    .col-md-6.privately.text-white {
        margin: 30px 0 0 0;
        padding: 0px 23px;
    }

    .col-md-6.images {
        display: none;
    }

    img.message {
        margin: 144px 0 0 0;
    }

}

button.btn.btn-success.rounded-pill.border-dark.px-5.fs-5.down {
    background-color: #25d366;
    color: black;
}

button.btn.btn-success.rounded-pill.border-dark.px-5.fs-5.down:hover {
    background-color: black;
    color: white;
}

h2.Message-privately {
    font-size: 55px;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    h2.Message-privately {
        font-size: 45px;

    }

}

.col-md-12.data-charge {
    text-align: end;
}

p.data-charge {
    font-size: 14px;
}

/* <!-- Banner section End --> */

/* <!-- FiveImages Section Start --> */
.fiveimages {
    padding: 32px;
    max-width: 100%;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {

    .fiveimages {
        display: none;
        padding: 32px;
        width: 100%;
    }
}

.threeimages {
    display: none;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    .threeimages {
        display: block;
        width: 100%;
        padding: 32px;
    }
}

/* <!-- FiveImages Section End --> */


/* <!-- private messaging and calling section start --> */
h2.private {
    padding: 30px 100px;
    font-size: 44px;
    line-height: 46px;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    h2.private {
        line-height: 1.1;
        font-family: inherit;
        font-weight: 500;
        padding: 30px 0px;
        font-size: 23px;
    }
}

/* <!-- private messaging and calling section End --> */

/* <!-- HolofiveImages Section Start --> */
.holafiveimages {
    padding: 32px;
    max-width: 100%;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {

    .holafiveimages {
        display: none;
        padding: 32px;
        max-width: 100%;
    }
}

.holathreeimages {
    display: none;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    .holathreeimages {
        display: block;
        width: 100%;
        padding: 32px;
    }
}

/* <!-- HolofiveImages Section End --> */
/* <!-- Calls And Mobiles Section Start --> */
.col-md-6.calls {
    margin: 130px 0 0 0;
    padding: 0px 65px;
}

h2.voice {
    font-size: 56px;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    .col-md-6.calls {
        margin: 30px 0 0 0;
        padding: 0 22px;
    }

    h2.voice {
        letter-spacing: -1px;
        font-weight: 400;
        font-size: 23px;
        ;
    }
}

.col-md-6.mobile {
    padding: 0px 100px;
}

.w {
    text-decoration: underline 3px solid #25d366;
}

a.w.text-dark.fs-4 {
    font-weight: 500;
}

@media screen and (min-width: 360px) and (max-width: 1200px) {
    .col-md-6.mobile {
        text-align: center;
        padding: 0 36px;
    }
}

/* <!-- Calls And Mobiles Section End --> */


@media screen and (min-width: 360px) and (max-width: 1200px) {
    .fa-regular.fa-circle-down {
        border-radius: 25px;
        background-color: #1bd665;

        margin: 2px 26px 0 0px;
        font-size: 32px;
        color: black;
        right: 0;
      
        top: 7px;
        position: fixed;
    }
    div#navbarCollapse {
        background-color: #fff;
        margin: 8px 0px 0 0;
    }
    img.heart {
        margin: -26px 0 0 0;
    }
    button.btn.btn-light.rounded-pill.border-dark.px-5.down.download {
        display: none;
    }
    p.mx-5.mt-1.whatsapp-web {
        display: none;
    }
    button.navbar-toggler {
        font-size: 18px;
    }
    .circle i.fa-regular.fa-circle-down {
        display: block;
    }
    p.group {
        font-size: 16px;
        line-height: 22px;
    }
    p.data-charge {
        font-size: 12px;
        font-weight: 400;
    }
    button.navbar-toggler {
        border: 0px;
    }

}

i.fa-regular.fa-circle-down {
    display: none;
}
.d-flex.px-2 {
    margin: 8px 0 0 0;
}
img.heart {
    margin: -26px 0 0 0;
}
.sademoji {
    margin: -32px 0 0 0;
}
p.group {
    font-size: 17px;
    font-weight: 400;
}

a.w {
    font-size: 18px;
    color: black;
    font-weight: 400;
}
a.w:hover{
   color: #25d366;
}

/* footer */
ul.navbar-nav.change {
    margin: 28px 0 0 0;
}
ul.navbar-nav.change {
    margin: 28px 0 0 0;
}
li.nav-item.change{
    /* font-size: 45px; */
    margin-bottom: 15px;
}
button.btn.btn-success.rounded-pill.px-5.down.download.change:hover {
    background-color: white;
    color: black;
}
button.btn.btn-success.rounded-pill.px-5.down.download.change {
    padding: 15px;
    margin-top: 110px;
    background-color: #25d366;
    color: black;
}
b.change.text-white {
    font-weight: 300;
}


@media screen and (min-width: 360px) and (max-width: 1200px) {
    img.changeimg {
        margin-top: 80px;
        width: 184px;
    }
    button.btn.btn-success.rounded-pill.px-5.down.download.change {
        width: 281px;
        bottom: 162px;
        position: relative;
        padding: 21px;
        /* margin-top: 101px; */
        background-color: #25d366;
        color: black;
        /* bottom: 154%; */
        margin: 2px 29px;
    }
    ul.navbar-nav.change {
        margin: 0px 0 0 0;
    }
    ul.navbar-nav.change {
        margin: 0px 0 0 0;
    }
    li.nav-item.change{
        /* font-size: 45px; */
        margin-bottom: 5px;
    }
   
}

i.fa-brands.fa-twitter {
    border: 2px solid #ebe7e7;
    padding: 15px;
    border-radius: 54px;
    margin: 0 5px;
}
i.fa-brands.fa-youtube {
    border: 2px solid #ebe7e7;
    padding: 15px;
    border-radius: 54px;
    margin: 0 5px;
}
i.fa-brands.fa-facebook {
    border: 2px solid #ebe7e7;
    padding: 15px;
    border-radius: 54px;
    margin: 0 5px;
}
i.fa-brands.fa-instagram {
    border: 2px solid #ebe7e7;
    padding: 15px;
    border-radius: 54px;
    margin: 0 5px;
}
li.nav-item.change{
    /* font-size: 45px; */
    margin-bottom: 15px;
}
/* button.btn.btn-success.rounded-pill.px-5.down.download.change:hover {
    background-color: white;
    color: black;
} */
button.btn.btn-success.rounded-pill.border-1.px-5.down.download.English {

        padding: 19px;
        background-color: black;
        color: white;
        border: 2px solid white;
        width: 230px;
    }
